/* Variáveis */
* {
	--main-color: #f52ab1;
	--secondary-color:#b537f2;
	--terciary-color: #8a2be2;
	margin: 0;
}

html {
	scroll-behavior: smooth; /* deixa a rolagem da página suave */
}

a {
	text-decoration:none;
	color: white;
	transition:ease 0.3s;
}

/* HEADER */

.header {
	display: flex;
	justify-content: space-evenly;
	font-family: "Fredoka", sans-serif;
	box-sizing: border-box; /* Amassa os elementos para dentro */
	position: sticky; /* Deixa o header grudado no topo da tela */
	top: 0;
	z-index: 999; /* Define a dimensão do elemento */
	height: 11vh;
	width: 100%;
	font-size: 1.15rem;
	padding: 0 30px;
	background: linear-gradient(to right,#d63af9, #f52ab1);
}

.nome-mob {
	color: white;
	text-shadow: 2px 2px black;
}

.main-nav a:hover,
.login-nav a:hover {
	color: var(--terciary-color);
	text-decoration: underline;
}

/* logo */

.logo {
	display: flex;
	align-items: center;
}

.logo img {
	height: 50px;
	background-color:#d63af9;
}

.nome-mob {
	padding-left: 10px;
	font-size: 2rem;
}

/* nav */

.main-nav {
	display: flex;
	align-items: center;
}

.main-nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;
	column-gap: 40px;
}

.login-nav {
	display: flex;
	align-items: center;
}

.login-nav ul {
	display: flex;
	list-style-type: none;
	column-gap: 40px;
}

/*Container Cadastro*/

#container{
    display: flex;
	justify-content: center;
	align-items:center;
	position:relative;
	background: url(../images/fundocad.png) no-repeat ;
	background-size: cover;
	height: 100vh;
}

.card_cadastro{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width:35%;
    height:75%;
    background-color: hsl(146, 100%, 52%,0.6);
	color: white;
	font-size: 24px;
	text-shadow: 1px 1px black;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.card_cadastro input {
	background-color: transparent;
	margin-bottom: 10px;
	border-bottom: 2px solid #f52ab1;
	padding: 8px;
	text-align: center;
	border-color: #f52ab1;
	border-bottom-left-radius: 25px;
	transition: 1s ease;
  }

  .card_cadastro input:focus {
	background-color:#0aff74;

}

.card_cadastro ::placeholder{
	color: #ffffff;
}

.card_cadastro input:hover{
	background-color: #0aff74;
}




/*Botão*/
.button-container {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 200px;
}

 .button,
#enviar-btn {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 10px;
	border-radius: 5px;
	border: none;
	box-shadow: 0 5px 10px 0px #09000b;
	width: 160px;
	height: 45px;
	text-decoration: none;
	font-weight: 600;
	color: white;
	font-size: 1.1rem;
	background: linear-gradient(to right, #e72341,#0aff74);
	transition: all 0.2s;
	cursor: pointer;
}

.button:hover,
#enviar-btn:hover {
	box-shadow: 0 4px 5px 0px black;
}

 .button:active,
#enviar-btn:active {
	transform: translateY(4px);
	width: 160px;
	height: 45px;
	box-shadow: none;	background: #e72341;
}

.bola1{
	position: absolute;
	height: 50px;
	width: 50px;
	background-color: #e72341;
	align-items: center;
	left: 470px;
	border-radius: 30px;
	border:  solid 3px black;

}
.bola2{
	position: absolute;
	height: 50px;
	width: 50px;
	background-color: #e72341;
	align-items: center;
	right: 470px;
	border-radius: 30px;
	border:  solid 3px black;

}
/* FOOTER */

.footer-container {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	background: linear-gradient(to right, #f52ab1, #d63af9);
	height: 84px;
	color: white;
	font-size: 0.8rem;
    bottom: 100%;
}
